a{
    text-decoration: none;
}
.ADC-top {
    top: 0;
}
.ADC-top, .ADC-bottom {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.ADC-black, .ADC-hover-black:hover {
    color: #333 !important;
    background-color: transparent !important;
}
.ADC-card, .ADC-card-2 {
    /*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);*/
}
.ADC-bar {
    width: 95%;
    overflow: hidden;
    padding: 10px 10px;
}
.ADC-black, .ADC-hover-black:hover {
    color: #fff !important;
}
.ADC-bar .ADC-button {
    white-space: normal;
}
.ADC-bar .ADC-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}
.ADC-padding-large {
    padding: 12px 24px !important;
}
.ADC-btn, .ADC-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ADC-btn, .ADC-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.ADC-btn, .ADC-button1 {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.background{
    background: #4285f4;
    border: 1px soild #4285f4;
    color: #fff !important;
}
.ADC-bar .ADC-dropdown-hover, .ADC-bar .ADC-dropdown-click {
    position: static;
    float: left;
}
.ADC-dropdown-click, .ADC-dropdown-hover {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.ADC-right {
    float: right !important;
}
.ADC-padding-large {
    padding: 12px 24px !important;
}
.ADC-content {
    max-width: 980px;
}
.ADC-content, .ADC-auto {
    margin-left: auto;
    margin-right: auto;
}
.ADC-bar .ADC-button {
    white-space: normal;
}
.ADC-padding-large {
    padding: 12px 24px !important;
}
.ADC-btn, .ADC-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ADC-btn, .ADC-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: #333;
    /*background-color: inherit;*/
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
.form-control{
height: 40px;
border:1px solid #efefef;
width: 40%;
background: #fff;
position: absolute;
padding-left: 20px;
margin-left: 68px;
}
.ADC-wide {
    letter-spacing: 4px;
    font-size: 30px;
    text-align: center;
}
.imgrep{
    max-width: 100%;
    display: block;
    height: auto;
    margin-left: 25%;
}
.space-20{
    margin-bottom: 40px;
}
.button-row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 35px;
    margin-left: 35px;
}
.button-col-6{
    ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.ADC-after{
    /*text-align: center;*/
    margin-left: 25%;
}
.ADC-after1{
    text-align: center;
    margin-top: 25px;
}
a.luga{
    padding: 10px 10px;
}
a.luo{
    padding: 10px 10px;
}
a.kiswa{
    padding: 10px 10px;
}
a.ikin{
    padding: 10px 10px;
}
a.runya{
    padding: 10px 10px;
}
button.button-primary1{
    margin-right: 15px;
background: #f3f3f3;
color: #222;
border: 1px solid #f3f3f3;
padding: 10px 15px;
text-decoration: none;
font-size: 16px;
}
button.button-primary2{
    
    background: #f3f3f3;
color: #222;
border: 1px solid #f3f3f3;
padding: 10px 15px;
text-decoration: none;
font-size: 16px;
}
.ADC-medium{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
}
.ADC-footer1{
	border-bottom: 1px solid #e4e4e4;
	background-color: #f2f2f2 !important;
}
.ADC-footer2{
	background-color: #f2f2f2 !important;
	margin-top: -20px;
}
#msg{
    color: red;
    font-weight: 600;
}
.ADC-light-grey, .ADC-hover-light-grey:hover, .ADC-light-gray, .ADC-hover-light-gray:hover {
    color: #000 !important;
    background-color: #f1f1f1 !important;
}
.ADC-padding-64 {
    padding-top: 0px !important;
    padding-bottom: 10px !important;
    margin-top: 50px;
}
@media (min-width:993px){
	.ADC-modal-content{width:900px}
.ADC-hide-large{display:none!important}
.ADC-sidebar.ADC-collapse{display:block!important}}
@media (max-width: 993px){
    /*.imgrep{
    margin-left: 0;
    }*/
    .form-control {
    height: 40px;
    width: 90%;
    padding-left: 0;
    margin-left: 0;
    }
    button.button-primary1 {
    margin-right: 0;}
    .ADC-after {
    margin-left: 0;
    }
    .ADC-bar .ADC-bar-item {
        display: none;
    }
}
@media(max-width: 700px){
    .imgrep{
    margin-left: 25%;
    }
    button.button-primary1 {
    margin-right: 15px;
    margin-left: 100px;
    }
}

@media(max-width: 640px){
    .imgrep{
    margin-left: 25px;
    }
}

@media(max-width: 540px){}

@media(max-width: 480px){}

@media(max-width: 360px){}